# Agenda
1. Obsługa Jupyter Notebook
2. Typy danych
3. Sprawdzanie i konwersja typów
4. Pętle i instrukcje warunkowe
5. Wyrażenia listotwórcze
6. Definiowanie funkcji

## Obliczenia w Pythonie
Działania matematyczne w Python
* '+' dodawanie
* '-' odejmowanie
* '*' mnożenie
* '/' dzielenie
* '**' potęgowanie
* '%' modulo (reszta z dzielenia)

In [18]:
2

2

In [7]:
2+2

4

In [8]:
2-2

0

In [9]:
2*2

4

In [10]:
2/2

1.0

In [11]:
2**3

8

In [12]:
8%3

2

Tekst można zapisać posługując się "tekst" lub 'tekst', co nie wprowadza różnicy poza możliwością użycia apostrofu przy użyciu "". Aby stworzyć tekst kilkalinijkowy należy użyć potrójnych cudzysłowiów:"""tekst""" lub '''tekst'''

In [9]:
"Hello"

'Hello'

In [10]:
'Hello'

'Hello'

In [11]:
'''
p
s
t
'''

'\np\ns\nt\n'

Operatory matematyczne mogę być stosowane również na typ tekstowy. Dodanie dwóch tekstów oznacza ich połączenie, natomiast mnożenie przez liczbę oznacza kilkakrotne połączenie takiega samego tekstu. Z tego względu należy zwrócić szczególną uwagę czy liczba nie jest przechowywana w formacie tekstowym.

In [12]:
'P'+'S'

'PS'

In [13]:
'2'+'2'

'22'

In [14]:
'PS'*3

'PSPSPS'

In [15]:
'2'*3

'222'

In [14]:
4.3+7.1

11.399999999999999

## Typy danych
* Liczba całkowita (Integer)
* Liczba zmiennoprzecinkowa (Float)
* Tekst (String)
* Wartość logiczna (Boolean)
* Lista (List)
* Krotka (Tuple)
* Słownik (Dictionary)

Nazwy zmiennych:
* na pierwszym miejscu niecyfra
* brak spacji
* brak znaków specjalnych oprócz _
* rozróżnianie wielkości liter

In [15]:
a=2
A=3
a,A

(2, 3)

Aby sprawdzić typ zmiennej należy użyć type(nazwa_zmiennej).

In [16]:
type(a),type(A)

(int, int)

In [17]:
a+A

5

Przypisanie do zmiennej odbywa się za pomocą "=", które należy odróżnić od "==" pozwalającego na porównanie dwóch zmiennych. Zwiększenie zmiennej o 1 można osiągnąć przez zapis: nazwa_zmiennej+=1.

In [20]:
b=a+A

In [21]:
b

5

In [22]:
print(b)

5

In [23]:
b+=1

In [24]:
b

6

In [25]:
b+1

7

In [26]:
b

6

In [27]:
b==7

False

In [28]:
c=9.2
d=7.3

In [29]:
c+d

16.5

In [30]:
c+b

15.2

In [31]:
type(b),type(c)

(int, float)

Konwersja zmiennych:
* float(nazwa_zmiennej) - konwersja na zmienną liczbową zmiennoprzecinkową
* int(nazwa_zmiennej) - konwersja na liczbę całkowitą
* str(nazwa_zmiennej) - konwersja na typ tekstowy

In [32]:
float(b)

6.0

In [33]:
int(c)

9

In [34]:
3+'d'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
str(3) +'d'

'3d'

Do wprowadzania danych przez użytkownika służy funkcja input(), który można przypisać do zmiennej oraz wprowadzić jako argument informacje dla użytkownika.

In [37]:
input()

 3

'3'

### Zadanie
Program pobierający od użytkownika liczbę z przedziału 0-100 oraz zmiana formatu na integer.

In [41]:
d=int(input('Podaj liczbę z przedziału 0-100: '))

Podaj liczbę z przedziału 0-100:  6

In [42]:
d

6

In [43]:
print('Suma liczb c i d wynosi: ',c+d)

Suma liczb c i d wynosi:  15.2

In [44]:
text1='Suma liczb'
text2="Suma liczb"
text1==text2

True

Typ tekstowy jest niemutowalny, co oznacza, że nie istnieje możliwość zmiany części napisu.

In [45]:
text1[0]

'S'

In [46]:
text1[0]='s'

TypeError: 'str' object does not support item assignment

### Zadanie
Kod na podstawie wzrostu i wagi użytkownika wylicza BMI (waga/wzrost^2)

In [48]:
waga=float(input('Waga w kg: '))
wzrost=float(input('Wzrost w metrach: '))
bmi=waga/(wzrost**2)
print('BMI wynosi: ',bmi)

Waga w kg:  70
Wzrost w metrach:  1.8

BMI wynosi:  21.604938271604937

Tworzenie listy odbywa się za pomocą []. Lista jest typem mutowalnym, co oznacza możliwość zmiany konkretnego elementu listy. Listy są indeksowane od zera. Elementy listy mogą być różnego typu. Elementem listy może być również inna lista.

In [49]:
lista=['a',1,True]

In [50]:
lista[0]

'a'

In [51]:
lista[0]='b'

In [52]:
lista

['b', 1, True]

In [53]:
lista[1:2]

[1]

In [51]:
lista[1:3]

[1, True]

In [54]:
lista[1:]

[1, True]

In [55]:
lista[:2]

['b', 1]

In [56]:
lista[:-1]

['b', 1]

In [57]:
lista[0]=['a','b','c']

In [58]:
lista

[['a', 'b', 'c'], 1, True]

In [59]:
listalist=[[1,2,3],[4,5,6],[7,8,9]]

In [60]:
type(listalist)

list

In [61]:
type(listalist[0])

list

In [62]:
listalist[0][1]

2

Innym złożonym typem danych jest krotka (tuple) tworzona za pomocą (). Typ ten jest zbliżony do listy z tym, że jest niemutowalny oraz zajmuje mniej pamięci.

In [71]:
tupla=('a',5,6,7,True)

In [64]:
type(tupla)

tuple

In [65]:
tupla[1]

5

In [66]:
tupla[1]=7

TypeError: 'tuple' object does not support item assignment

In [67]:
lista=['a',5,6,7,True]

In [68]:
import sys
sys.getsizeof(lista),sys.getsizeof(tupla)

(104, 88)

In [69]:
listatupli=[(1,2),(3,4),(5,6)]

Długości listy oraz krotki można sprawdzić za pomocą len(nazwa_listy_lub_krotki). Konwersję na listę można osiągnąć za pomocą list(nazwa), a na krotkę za pomocą tuple(nazwa).

In [72]:
len(lista),len(tupla)

(5, 5)

In [73]:
list(tupla)

['a', 5, 6, 7, True]

In [74]:
tuple(lista)

('a', 5, 6, 7, True)

In [75]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

Metody listy:
* append(rozszerzenie listy o element)
* extend(rozszerzenie listy o listę elementów)
* remove(usunięcie pierwszego podanego elementu z listy)
* insert(wstawienie przed określonym indeksem elementu)
* reverse(odwrócenie elementów listy)
* sort(sortowanie elementów listy)

In [76]:
lista.append(7)

In [77]:
lista

['a', 5, 6, 7, True, 7]

In [78]:
lista.extend([7])

In [79]:
lista

['a', 5, 6, 7, True, 7, 7]

In [89]:
lista.append([7,8,9])

In [90]:
lista

['a', 5, 6, 7, True, 7, 7, 7, 10, 8, 9, 7, 8, 9, [7, 8, 9]]

In [91]:
lista.extend([7,8,9])
lista

['a', 5, 6, 7, True, 7, 7, 7, 10, 8, 9, 7, 8, 9, [7, 8, 9], 7, 8, 9]

In [92]:
lista.remove([7,8,9])
lista

['a', 5, 6, 7, True, 7, 7, 7, 10, 8, 9, 7, 8, 9, 7, 8, 9]

In [84]:
lista.insert(8,10)
lista

['a', 5, 6, 7, True, 7, 7, 7, 10, 8, 9]

In [85]:
lista.count(7)

4

In [86]:
lista.index(7)

3

In [93]:
lista.remove(7)

In [94]:
lista

['a', 5, 6, True, 7, 7, 7, 10, 8, 9, 7, 8, 9, 7, 8, 9]

In [99]:
listatest=['a',1,True]
listatest

['a', 1, True]

In [100]:
listatest.remove(1)
listatest

['a', True]

In [101]:
lista.reverse()
lista

[9, 8, 7, 9, 8, 7, 9, 8, 10, 7, 7, 7, True, 6, 5, 'a']

In [102]:
lista.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [103]:
lista.remove('a')

In [104]:
lista.sort()

In [105]:
lista

[True, 5, 6, 7, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 10]

In [106]:
list(enumerate(lista))

[(0, True),
 (1, 5),
 (2, 6),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7),
 (7, 7),
 (8, 8),
 (9, 8),
 (10, 8),
 (11, 9),
 (12, 9),
 (13, 9),
 (14, 10)]

Słownik przechowuje dane w parach klucz:wartość. Tworzony jest za pomocą {}. Klucz musi być typu niemutowalnego oraz unikalny w obrębie kluczy słownika. Do elementów słownika odnosi się za pomocą slownik[klucz]. W ten sposób można nadpisać również wartość słowniku oraz dodać nową parę klucz:wartość. Aby sprawdzić występowanie określonego klucza w słowniku należy użyć klucz in slownik.

In [107]:
slownik={'a':1,'b':2,'d':4,('a','b'):(1,2)}

In [108]:
slownik[1]

KeyError: 1

In [103]:
slownik[1]

KeyError: 1

In [109]:
slownik[('a','b')]

(1, 2)

In [110]:
slownik['a']=5

In [111]:
slownik

{'a': 5, 'b': 2, 'd': 4, ('a', 'b'): (1, 2)}

In [112]:
slownik['e']=8
slownik

{'a': 5, 'b': 2, 'd': 4, ('a', 'b'): (1, 2), 'e': 8}

In [113]:
slownik.keys()

dict_keys(['a', 'b', 'd', ('a', 'b'), 'e'])

In [114]:
slownik.values()

dict_values([5, 2, 4, (1, 2), 8])

In [115]:
'f' in slownik

False

In [116]:
'a' in slownik

True

In [118]:
panstwa_stolice={'Polska':'Warszawa','Niemcy':'Berlin','Francja':'Paryż'}

In [ ]:
if warunek:

### Zadanie
Wykorzystując słownik panstwa_stolice stwórzmy kod który na podstawie wpisania przez użytkownika państwa poda jego stolicę, a w przypadku jego braku poprosi o uzupełnienie.

In [128]:
panstwo=input('Podaj państwo: ')
if panstwo in panstwa_stolice.keys():
    stolica=panstwa_stolice[panstwo]
else: 
    panstwa_stolice[panstwo]=input('Podaj stolicę: ')
    stolica=panstwa_stolice[panstwo]
print('stolica: ',stolica)

Podaj państwo:  Finlandia
Podaj stolicę:  Helsinki

stolica:  Helsinki

In [129]:
panstwa_stolice

{'Polska': 'Warszawa',
 'Niemcy': 'Berlin',
 'Francja': 'Paryż',
 'Rosja': 'Moskwa',
 'Szwecja': 'Sztokholm',
 'Norwegia': 'Oslo',
 'Finlandia': 'Helsinki'}

## Pętle i instrukcje warunkowe

Operatory porównań w Pythonie:
* '<' mniejsze niż
* '>' większe niż
* '<=' mniejsze lub równe
* '>=' większe lub równe
* '==' równe
* '!=' nierówne
* 'and' i
* 'or' lub

In [118]:
3!=5

True

In [119]:
3!=5 and 6==7

False

In [120]:
3!=5 or 6==7

True

In [121]:
a=5

In [123]:
a is not 10

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-123-f570bcdda460>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 10

True

In [124]:
lista

[5, 6, 7, 7, 7, 7, 7, 7, 8, 8, 9, 9, 10]

In [125]:
4 in lista

False

In [127]:
4 not in lista

True

### Instrukcje warunkowe
if (warunek):
    działanie
elif (warunek):
    działanie
else:
    działanie
    
elif oraz else są opcjonalne

In [130]:
a

2

In [131]:
b=5
if a!=b:
    print('a jest inne')
else:
    print('a tyle wynosi')

a jest inne

In [132]:
b=7
if a==b:
    print('a tyle wynosi')
elif a<b:
    print('a jest mniejsze niż b')
else:
    print('a jest większe od b')

a jest mniejsze niż b

### Zadanie
Edycja kodu z BMI tak aby wyświetlał również komentarz (BMI<18.5 niedowaga, 18.5-25 norma,25-30 nadwaga,>30 otyłość)

In [1]:
waga=float(input('Podaj wagę w kg: '))
wzrost=(float(input('Podaj wzrost w metrach: ')))
bmi=waga/(wzrost**2)
if bmi<18.5:
    komentarz='niedowaga'
elif bmi>=18.5 and bmi<25:
    komentarz='norma'
elif bmi>25 and bmi<30:
    komentarz='nadwaga'
else:
    komentarz='otyłość'
print('BMI wynosi:',round(bmi,2),'i jest to',komentarz)

Podaj wagę w kg:  70
Podaj wzrost w metrach:  1.8

BMI wynosi: 21.6 i jest to norma

### Pętla for
for iterator in kolekcja:
    działanie

Iterować możemy np. po liczbach używając range tworzącego zbiór liczb, elementach listy, kluczach słownikach, kolejnych znakach napisu.

In [133]:
for i in range(0,50,10):
    print(i)

0
10
20
30
40

In [134]:
lista

[True, 5, 6, 7, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 10]

In [135]:
for i in range(len(lista)):
    print(lista[i])

True
5
6
7
7
7
7
7
8
8
8
9
9
9
10

In [136]:
for i in lista:
    print(i)

True
5
6
7
7
7
7
7
8
8
8
9
9
9
10

In [138]:
listaimion=['Piotr','Stanisław','Jan']
for imie in listaimion:
    print('Witaj',imie)

Witaj Piotr
Witaj Stanisław
Witaj Jan

In [139]:
for panstwo in panstwa_stolice.keys():
    print(panstwo)

Polska
Niemcy
Francja
Rosja
Szwecja
Norwegia
Finlandia

In [140]:
for litera in listaimion[0]:
    print(litera)

P
i
o
t
r

### Zadanie
Stwórzmy narzędzie do rozwiazywania równań kwadratowych, które będzie rozwiązywać całą serię naraz.

In [1]:
parametry=[(1,8,1),(1,10,3),(1,4,1),(2,3,3)]
komentarz=[]
for a,b,c in parametry:
    delta=b**2-4*a*c
    if delta<0:
        komentarz.append([a,b,c,'brak rozwiązania'])
    elif delta==0:
        komentarz.append([a,b,c,'rozwiazanie to',-b/2*a])
    elif delta>0:
        komentarz.append([a,b,c,'rozwiazania to',-b+delta**(1/2)/2*a,-b-delta**(1/2)/2*a])
print(komentarz)

[[1, 8, 1, 'rozwiazania to', -4.127016653792583, -11.872983346207416], [1, 10, 3, 'rozwiazania to', -5.30958424017657, -14.69041575982343], [1, 4, 1, 'rozwiazania to', -2.267949192431123, -5.732050807568877], [2, 3, 3, 'brak rozwiązania']]

In [2]:
komentarz

[[1, 8, 1, 'rozwiazania to', -4.127016653792583, -11.872983346207416],
 [1, 10, 3, 'rozwiazania to', -5.30958424017657, -14.69041575982343],
 [1, 4, 1, 'rozwiazania to', -2.267949192431123, -5.732050807568877],
 [2, 3, 3, 'brak rozwiązania']]

### Pętla while
Pętla while wykonuje się do momentu spełnienia określonego warunku:

while (warunek):
    działanie

In [141]:
n=0
while n<10:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9

In [142]:
n=0
while n<10:
    n+=1
    if n==2:
        break
    print(n)

1

In [143]:
n=0
while n<10:
    n+=1
    if n==2:
        continue
    print(n)

1
3
4
5
6
7
8
9
10

### Zadanie
Wyliczmy x! dla podanego x

In [4]:
x=int(input('podaj liczbę: '))
if x>0:
    silnia=x
    while x>1:
        silnia=silnia*(x-1)
        x-=1
elif x==0:
    silnia=1
elif x<0:
    silnia='nie istnieje'
print(silnia)

podaj liczbę:  -9

nie istnieje

## Wyrażenia listotwórcze
Za pomocą wykorzystania iteracji w ramach [] możemy stworzyć określoną listę na podstawie innej listy, zagnieżdżenia czy instrukcji warunkowej.

In [159]:
lista1=[1,2,3,4,5,6,7]
lista1

[1, 2, 3, 4, 5, 6, 7]

In [160]:
lista2=[x for x in range(1,8)]
lista2

[1, 2, 3, 4, 5, 6, 7]

In [162]:
listakrotek=[(x1,x2) for x1 in range(10) for x2 in range(10)]
listakrotek

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [163]:
listakrotek=[(x1,x2) for x1 in range(10) for x2 in range(10) if x1+x2>10]
listakrotek

[(2, 9),
 (3, 8),
 (3, 9),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [166]:
krotkieimiona=[imie for imie in listaimion if len(imie)<6]
krotkieimiona

['Piotr', 'Jan']

In [167]:
listazagniezdzona=[x2 for x2 in [x1**3 for x1 in range(10)]]

In [168]:
listazagniezdzona

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### Zadanie
Stworzenie dwóch list i stworzenie trzeciej korzystając z wyrażenia listotwórczego, w której znajdują się elementy 1 listy nieznajdujące się w drugiej liście.

In [5]:
lista1=['a','b','c','d','e','f','g']
lista2=['d','f']
lista3=[x for x in lista1 if x not in lista2]
lista3

['a', 'b', 'c', 'e', 'g']

### Tworzenie funkcji zdefiniowanych przez użytkownika
def nazwa_funkcji(argumenty):
    obliczenia
    return wynik_obliczeń

W ramach własnej funkcji możliwe jest utworzenie argumentów z wartościami domyślnymi przez argument=wartość. W przypadku gdy argument nie ma wartości domyślnych konieczne będzie wpisanie wartości dla danego argumentu. Wynik działania własnej funkcji można przypisać do zmiennej za pomocą nazwa_zmiennej=funkcja(argumenty). Własna funkcja może być również użyta w wyrażeniu listotwórczym. Dokumentację własnej funkcji można zapisać po jej zdefiniowaniu. Dostanie się do dokumentacji jest możliwe przez nazwa_funkcji.__doc__.

In [185]:
def naszafunkcja(x):
    y=x**2
    return y

In [186]:
naszafunkcja(5)

25

In [187]:
kwadratliczby=naszafunkcja(5)

In [188]:
[naszafunkcja(x) for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [190]:
def funkcjadwochzmiennych(x,y):
    z=x**2+y**2
    return z

In [191]:
funkcjadwochzmiennych(2,3)

13

In [192]:
funkcjadwochzmiennych(2)

TypeError: funkcjadwochzmiennych() missing 1 required positional argument: 'y'

In [193]:
def funkcjadwochzmiennych(x,y=2):
    z=x**2+y**2
    return z

In [195]:
funkcjadwochzmiennych(2,5)

29

In [196]:
def funkcjadwochzmiennych(x=2,y=2):
    z=x**2+y**2
    return z

In [197]:
funkcjadwochzmiennych()

8

In [198]:
def mnozenie(*liczby):
    iloczyn=1
    for liczba in liczby:
        iloczyn=liczba*iloczyn
    return iloczyn
mnozenie(4,3,7)

84

In [203]:
(lambda x,y: (x**2+y**2))(2,2)

8

In [204]:
def funkcjadwochzmiennych(x=2,y=2):
    """Funkcja obliczająca sumę kwadratów.
    Argumenty:
    x z domyślną wartością 2
    y z domyślną wartością 2
    """
    z=x**2+y**2
    return z

In [205]:
funkcjadwochzmiennych.__doc__

'Funkcja obliczająca sumę kwadratów.\n    Argumenty:\n    x z domyślną wartością 2\n    y z domyślną wartością 2\n    '